/* You can add global styles to this file, and also import other style files */

@import '~aos/dist/aos.css';
@import 'src/app/navbar/navbar.component.css';




/* Application-wide Styles */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    /* This pushes the footer to the bottom */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Lexend Deca', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* change scroll bar colour (broken) */
/* ::-webkit-scrollbar-thumb:hover {
    background-color: #E46A6B;
  }

::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
} */

.max-width-container {
    max-width: 1000px;
    /* Adjust the maximum width as needed */
    margin: auto auto;
    /* Center the content horizontally */
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* Header styles */
header {
    /* background-image: url('header-bg.jpg'); */
    background-size: cover;
    text-align: center;
    padding: 100px;
    color: white;
    background-blend-mode: overlay;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 30px;
    background-color: #444;
    color: white;
    width: 100%;
}


body,
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Georgia, serif;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 5px;
}

button:hover {
    background-color: black;
    color: white;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* make this very obvious so it is noticed */
.TODO {
    background-color: #f00;
    color: #fff;
    font-weight: bold;
}


/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cta-button {
    animation: fadeInUp 0.8s ease both;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.feature {
    animation: zoomInRight 0.8s ease both;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    /* Initially hide the elements */
}

.contact-button {
    transition: background-color 0.3s ease;
}

/* Animate On Scroll styles */
[data-aos] {
    transition-property: opacity, transform;
    transition-duration: 0.8s;
}

[data-aos="fade-up"] {
    transform: translateY(50px);
    /* Initial position before animation */
}

/* Display elements when scrolled into view */
[data-aos].aos-animate {
    opacity: 1;
    transform: translateY(0);
}