/* You can add global styles to this file, and also import other style files */

@import '~aos/dist/aos.css';
@import 'src/app/navbar/navbar.component.css';




/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* Header styles */
header {
    /* background-image: url('header-bg.jpg'); */
    background-size: cover;
    text-align: center;
    padding: 100px;
    color: white;
    background-blend-mode: overlay;
}

body {
    margin: 2em;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 30px 0;
    background-color: #444;
    color: white;
}

footer p {
    margin: 0;
}

body,
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Georgia, serif;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: black;
    color: white;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* make this very obvious so it is noticed */
.TODO {
    background-color: #f00;
    color: #fff;
    font-weight: bold;
}


/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cta-button {
    animation: fadeInUp 0.8s ease both;
}

.feature {
    animation: zoomInRight 0.8s ease both;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    /* Initially hide the elements */
}

.contact-button {
    transition: background-color 0.3s ease;
}

.cta-button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Animate On Scroll styles */
[data-aos] {
    transition-property: opacity, transform;
    transition-duration: 0.8s;
}

[data-aos="fade-up"] {
    transform: translateY(50px);
    /* Initial position before animation */
}

/* Display elements when scrolled into view */
[data-aos].aos-animate {
    opacity: 1;
    transform: translateY(0);
}